{% extends "base.html.twig" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/EditeExcursion.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} Creer Sortie {% endblock %}
{% block main %}
    {% form_theme lieuForm 'bootstrap_5_layout.html.twig' %}

    {{ form_start(lieuForm) }}
    <div class="row g-6 mr-6 mt-4">

        <div class="col-md-5 col-lg-3 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Preview Lieu </span>
            </h4>
            <ul class="list-group mb-4">
                <img src="{{ asset('img/lieu/lieuUserUploadPicture' ~ app.user.lieuImageUpload) }}" class="img-thumbnail" alt="Lieu_ImagePreview">
            </ul>
        </div>
        <div class="col-md-7 col-lg-8 ml-5">
            <h4 class="mb-3">Création de Lieux</h4>
            <form class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="nom" class="form-label">Nom</label>
                        {{ form_widget(lieuForm.nom) }}
                    </div>

                    <div class="col-12">
                        <label for="rue" class="form-label">Rue</label>
                        {{ form_widget(lieuForm.rue)}}
                    </div>

                    <div class="col-12">
                        <label for="longitude" class="form-label">Longitude</label>
                        {{ form_widget(lieuForm.longitude)}}
                    </div>

                    <div class="col-12">
                        <label for="latitude" class="form-label">Latitude</label>
                        {{ form_widget(lieuForm.latitude)}}
                    </div>

                    <div class="col-12">
                        <label for="ville" class="form-label">Ville</label>
                        {{ form_widget(lieuForm.ville)}}
                    </div>

                </div>

                <hr class="my-4">
                {{ form_end(lieuForm) }}
        </div>

    </div>
{% endblock %}
