{% extends "base.html.twig" %}

{% block title %}{{ parent() }} Creer Sortie {% endblock %}
{% block main %}
    {# --- Barre de recherche --- #}
    <div class= "d-flex flex-row">
        <div class="p-2">
            <label class="p-2" for="form1">Le nom contient: </label>
            <input type="search" id="form1" class="p-2" />
        </div>
        <button id="bp" type="button" class="btn btn-outline-primary" style="font-size: 14px; width: 70px; height: 50px; line-height: 30px;">search</button>
    </div>
    {# --- FIN Barre de recherche --- #}

    {# --- Corps de l'index LIEU --- #}

    <div class="table-responsive">

        <table class=" text-center table table-bordered border-primary">
            <thead>
            <tr>
                <th style="width: 22%;">Nom</th>
                <th style="width: 22%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for lieux in lieu %}
                <tr>
                    <td>{{ lieux.nom }}</td>
                    <td>
                        <a href="{{ path('updateLieu', {'id': lieux.id}) }}" class="btn btn-outline-success btn-sm">Modifier</a>
                        <a href="{{ path('deleteLieu', {'id': lieux.id}) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('createLieu') }}" class="btn btn-info ml-5">Ajouter</a>
    </div>

    {# --- FIN Corps de l'index LIEU --- #}
{% endblock %}