<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    <title>{% block title %}Bucket List{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>

<header class="p-3 text-bg-dark bg-dark">
    <div class="d-flex align-items-start flex-row">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mb-auto p-2">
            <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">

                <img src="#" class="" >
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
        </div>
            <div class="d-flex align-items-end flex-row">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2 p-2">Login</button>
                <button type="button" class="btn btn-warning p-2">Sign-up</button>
            </div>

        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            {% block informations %}{% endblock %}
        </div>
    </section>

    <div class="container">

        {% for group,messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% block main %}{% endblock %}
    </div>
</main>

<footer class="text-muted">

    <div class="container">
        <p class="float-right">
            <a href="">Back to top</a>
        </p>
        <p>EniSortie &copy; {{ "now" | date('Y') }}</p>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.s lim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>

