<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        body {
            background: #eeeeee;
        }
        .form-inline {
            display: inline-block;
        }
        .navbar-header.col {
            padding: 0 !important;
        }
        .navbar {
            background: #fff;
            padding-left: 16px;
            padding-right: 16px;
            border-bottom: 1px solid #d6d6d6;
            box-shadow: 0 0 4px rgba(0,0,0,.1);
        }
        .nav-link img {
            border-radius: 50%;
            width: 36px;
            height: 36px;
            margin: -8px 0;
            float: left;
            margin-right: 10px;
        }
        .navbar .navbar-brand {
            color: #555;
            padding-left: 0;
            padding-right: 50px;
            font-family: 'Merienda One', sans-serif;
        }
        .navbar .navbar-brand i {
            font-size: 20px;
            margin-right: 5px;
        }
        .search-box {
            position: relative;
        }
        .search-box input {
            box-shadow: none;
            padding-right: 35px;
            border-radius: 3px !important;
        }
        .search-box .input-group-addon {
            min-width: 35px;
            border: none;
            background: transparent;
            position: absolute;
            right: 0;
            z-index: 9;
            padding: 7px;
            height: 100%;
        }
        .search-box i {
            color: #a0a5b1;
            font-size: 19px;
        }
        .navbar .nav-item i {
            font-size: 18px;
        }
        .navbar .dropdown-item i {
            font-size: 16px;
            min-width: 22px;
        }
        .navbar .nav-item.open > a {
            background: none !important;
        }
        .navbar .dropdown-menu {
            border-radius: 1px;
            border-color: #e5e5e5;
            box-shadow: 0 2px 8px rgba(0,0,0,.05);
        }
        .navbar .dropdown-menu a {
            color: #777;
            padding: 8px 20px;
            line-height: normal;
        }
        .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
            color: #333;
        }
        .navbar .dropdown-item .material-icons {
            font-size: 21px;
            line-height: 16px;
            vertical-align: middle;
            margin-top: -2px;
        }
        .navbar .badge {
            color: #fff;
            background: #f44336;
            font-size: 11px;
            border-radius: 20px;
            position: absolute;
            min-width: 10px;
            padding: 4px 6px 0;
            min-height: 18px;
            top: 5px;
        }
        .navbar a.notifications, .navbar a.messages {
            position: relative;
            margin-right: 10px;
        }
        .navbar a.messages {
            margin-right: 20px;
        }
        .navbar a.notifications .badge {
            margin-left: -8px;
        }
        .navbar a.messages .badge {
            margin-left: -4px;
        }
        .navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
            background: transparent !important;
        }
        @media (min-width: 1200px){
            .form-inline .input-group {
                width: 300px;
                margin-left: 30px;
            }
        }
        @media (max-width: 1199px){
            .form-inline {
                display: block;
                margin-bottom: 10px;
            }
            .input-group {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a href="{{ path('home_home') }}" class="navbar-brand"><img src="{{ asset('img/enilogo.png') }}" width="60" class="mr-2" alt="Logo_Eni">Sortir<b>Eni</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-center">
        <div class="ml-2 navbar-nav">
            <a href="{{ path('home_home') }}" class="nav-item nav-link active text-bg-dark">Acceuil</a>
            <a href="{{ path('home_about') }}" class="nav-item nav-link text-bg-dark">A propos</a>
            <a href="{{ path('home_legal_stuff') }}" class="nav-item nav-link text-bg-dark">Mention-légale</a>
{#            <div class="nav-item dropdown">#}
{#                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>#}
{#                <div class="dropdown-menu">#}
{#                    <a href="#" class="dropdown-item">Web Design</a>#}
{#                    <a href="#" class="dropdown-item">Web Development</a>#}
{#                    <a href="#" class="dropdown-item">Graphic Design</a>#}
{#                    <a href="#" class="dropdown-item">Digital Marketing</a>#}
{#                </div>#}
{#            </div>#}
            <a href="{{ path('home_contact') }}" class="nav-item nav-link">Contact</a>
        </div>
{#        <form class="navbar-form form-inline">#}
{#            <div class="input-group search-box">#}
{#                <input type="text" id="search" class="form-control" placeholder="Search by Name">#}
{#                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>#}
{#            </div>#}
{#        </form>#}

        {# Boutton connexion/S'incrire/Se déconnecter #}
       <div class="navbar-nav ml-auto">
           {% if app.user %}
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">

                    {# vérifie si l'utilisateur a déjà une image de profil, sinon on affiche l'image par défaut #}
                    {% if app.user %}
                        {% if app.user.imageParticipant %}
                            <img src="{{ app.request.basepath }}/img/user/profilePicture/{{ app.user.imageParticipant }}" alt="imgProfilUser" class="rounded-circle" width="150">
                        {% else %}
                            <img src="{{ app.request.basepath }}img/user/defaultProfilePicture/pdp_default_Homme.png" alt="defaultImgProfilUser" class="rounded-circle" width="150">
                        {% endif %}
                    {% else %}
                        <img src="{{ app.request.basepath }}img/user/defaultProfilePicture/pdp_default_Homme.png" alt="defaultImgProfilUser" class="rounded-circle" width="150">
                    {% endif %}
                    {{ app.user.nom|upper }} {{ app.user.prenom }}<b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a href="{{ path('security_profile') }}" class="dropdown-item"><i class="fa fa-user-o"></i>Mon Profil</a>
                    <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendrier</a>
                    <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Paramètres</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('security_logout') }}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>Se déconnecter</a>
                </div>
            </div>
           {% else %}
               <a href="{{ path('security_login') }}" class="btn btn-outline-primary me-5">Se connecter</a>
               <a href="{{ path('security_register') }}" class="btn btn-warning ml-3">S'inscrire</a>
           {% endif %}

       </div>
    </div>
</nav>
{% block main %}{% endblock %}
</body>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><img src="{{ asset('img/enilogo.png') }}" width="40" class="mr-2" alt="Logo_Eni"></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">Eni Ecole Informatique &copy; {{ "now" | date('Y') }}</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/ENIEcoleInforma"><img src="{{ asset('img/twlogo.png') }}" width="30"  alt="Logo_tw"></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/eniecoleinformatique/"><img src="{{ asset('img/instalogo.png') }}" class="ml-2" width="30"  alt="Logo_tw"></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/EniEcoleInformatique/"><img src="{{ asset('img/fblogo.png') }}" width="30" class="ml-2" alt="Logo_tw"></svg></a></li>
    </ul>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.s lim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block scripts %}{% endblock %}
</html>
