{% extends "base.html.twig" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/EditeExcursion.css') }}" />
{% endblock %}

{% block title %}{{ parent() }} Creer Sortie {% endblock %}
{% block main %}

    {{ form_start(excursionForm) }}
    <div class="row g-6 mr-6 mt-4">

        <div class="col-md-5 col-lg-3 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Lieu</span>
                {# <span class="badge bg-primary rounded-pill">3</span> #}
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    {{ form_widget(excursionForm.lieu) }}

                </li>

                <li class="list-group-item d-flex justify-content-between lh-sm">
                    {{ form_widget(excursionForm.sites) }}
                </li>

                <li class="list-group-item d-flex justify-content-between lh-sm">
                    {# Préview de l'image de la sortie #}
                    <div class="row g-3">
                        <h4>
                            <span class="text-primary">Preview du Lieu</span>
                        </h4>
                    <br>
                        <img id="preview" class="img-thumbnail" alt="Lieu_ImagePreview">
                    </div>
                    {# --- Préview de l'image de la sortie --- #}
                </li>

                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>!a changer par les détails du lieu et de la ville!</small>
                    </div>
                    <span class="text-success">−$5</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-7 col-lg-8 ml-5">
            <h4 class="mb-3">Créer une sortie</h4>
            <form class="needs-validation" novalidate="">
                <div class="row g-3">

                    <div class="col-12">
                        <label for="address" class="form-label">Nom</label>
                        {{ form(excursionForm.nom) }}
                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Date Sortie</label>
                        {{ form_widget(excursionForm.dateHeureDebut)}}

                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Date Limite Sortie</label>
                        {{ form_widget(excursionForm.dateLimiteInscription)}}
                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Durée</label>
                        {{ form_widget(excursionForm.duree) }}
                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Nombre de places</label>
                        {{ form_widget(excursionForm.nbInscriptionsMax) }}
                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Description</label>
                        {{ form_widget(excursionForm.infosSortie) }}
                        <div class="invalid-feedback">
                            Please enter your data.
                        </div>
                    </div>
                </div>
                {{ form_end(excursionForm) }}
        </div>
        <div class="col-md-7 col-lg-8 ml-5">
                <hr class="my-4">
                <a href="{{ path('createLieu') }}" class="btn btn-outline-dark col-2 mb-4 ml-4">Ajouter un lieu</a>
                <a href="{{ path('createVille') }}" class="btn btn-outline-dark col-2 mb-4 ml-4">Ajouter une ville</a>
        </div>
    </div>

    {# Javascript pour faire la prévisualisation de l'image lors de l'insert de l'image sans avoir encore validé le formulaire #}
    <script>
        window.addEventListener("DOMContentLoaded", function() {
            const input = document.querySelector('[data-preview="#preview"]');
            const preview = document.querySelector('#preview');

            input.addEventListener('change', () => {
                const file = input.files[0];
                const reader = new FileReader();

                reader.addEventListener("load", () => {
                    preview.src = reader.result;
                });

                reader.readAsDataURL(file);
            });
        });
    </script>
{% endblock %}